table {
border: 1px solid black;
border-collapse: collapse;
}

thead {
background-color: #cce6ff;
}

tr:nth-child(odd) {
  background-color: #ddff99;
}

h1 {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: white;
}

h2 {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color:deepskyblue;
}

.boxed {
    border: 1px solid green ;
  } 

.blue {
    background: mediumaquamarine
}

h3 {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color:deepskyblue;
}
